$white: #ffffff;
$grey: #d0d0d0;
$targetInputColor: #6363ff;
.query-finder {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 2px;
  overflow: hidden;
  background-color: $white;
  border-top: 3px solid $targetInputColor;
  font-family: "Courier New", Courier, monospace;
  &__class-list {
    position: fixed;
    border-top: 3px solid $targetInputColor;
    border-bottom: 3px solid $targetInputColor;
    bottom: 60px;
    left: 30px;
    right: 0;
    overflow-y: scroll;
    width: max-content;
    height: 100px;
  }
  &__target {
    display: flex;
    padding: 10px;

    label {
      padding-right: 10px;
      color: $targetInputColor;
    }
    input {
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 1px solid $targetInputColor;
    }
  }
}
