// Colors
$primary: #eb3d3d;
$secondary: #4f4ff8;
$white: #ffffff;
$dark: #181818;
$grey: #ededed;
$grey-dark: #808080;
$yellow: #ffff00;

.todo-app-container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  transition: background-color;
  transition-duration: 0.3s;
  &--dark {
    background-color: $dark;
    .todo-app {
      &__title {
        div:nth-child(1) {
          color: $white;
          background-color: $secondary;
        }
        h1 {
          color: $white;
        }
        button {
          background-color: $dark;
          color: $yellow;
        }
      }
      &__search {
        input {
          color: $white;
          background-color: $dark;
          border: 1px solid $secondary;
          outline: none;
        }
      }
      &__control {
        button {
          background-color: $dark;
          color: $secondary;
          &:hover {
            background-color: rgba(0, 42, 255, 0.1);
          }
          &:focus-within {
            background-color: rgba(0, 42, 255, 0.1);
          }
        }
      }
      &__list {
        background-color: $dark;
        color: $grey-dark;
        border: 1px solid $dark;
        border-left: 3px solid $grey-dark;
        &--selected {
          color: $white;
          border-left: 3px solid $secondary;
        }
        &--selected::before {
          content: "";
          background-color: $secondary;
        }
        &--default {
          p,
          i {
            color: $grey-dark;
          }
        }
        &:focus-within {
          background-color: rgba(0, 42, 255, 0.1);
        }
      }
      &__footer {
        p {
          color:$white;
        }
        button {
          color: $secondary;
          background-color: $dark;
        }
      }
    }
  }
}

.todo-app {
  margin: 0 auto;
  padding: 20px 30px;
  max-width: 400px;
  &__title {
    display: flex;
    align-items: center;
    div:nth-child(1) {
      width: 50px;
      height: 50px;
      color: $white;
      background-color: $primary;
      display: grid;
      place-items: center;
      border-radius: 30px;
      margin-right: 10px;
    }
    h1 {
      text-transform: uppercase;
    }
    button {
      background-color: $white;
      outline: none;
      border: none;
      color:$grey-dark;
      cursor: pointer;
      i {
        font-size: 24px;
      }
    }
  }
  &__search {
    input {
      width: 100%;
      border-radius: 7px;
      padding: 10px 7px;
      margin-top: 20px;
      border: 1px solid $grey;
      &:focus-within {
        outline-color: $primary;
      }
    }
  }
  &__control {
    display: flex;
    button {
      background-color: white;
      outline: none;
      border: none;
      color: #eb3d3d;
      border-radius: 2px;
      padding: 5px;
      font-size: 12px;
      cursor: pointer;
      transition-property: background-color;
      transition-duration: 0.3s;
      &:hover {
        background-color: rgba(255, 0, 0, 0.1);
      }
      &:focus-within {
        background-color: rgba(255, 0, 0, 0.1);
      }
    }
    i {
      margin-right: 5px;
    }
  }
  &__lists-view {
    margin: 20px 0px;
  }
  &__list {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: $white;
    color: $grey-dark;
    border: none;
    width: 100%;
    border: 1px solid $grey;
    border-left: 3px solid $grey;
    position: relative;
    outline: none;
    cursor: pointer;
    i {
      margin-right: 20px;
      font-size: 24px;
    }
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--selected {
      color: $dark;
      border-left: 3px solid $primary;
    }
    &--marked {
      text-decoration: line-through;
    }
    &--selected::before {
      content: "";
      position: absolute;
      top: calc(50% - 5px);
      left: -6.5px;
      display: inline-block;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      border-radius: 2px;
      background-color: $primary;
    }
    &--default {
      p,
      i {
        margin: 0;
        margin-right: 5px;
        color: $grey-dark;
        font-size: 14px;
      }
    }
    &:focus-within {
      background-color: rgba(255, 0, 0, 0.1);
    }
  }
  &__footer {
    display: flex;
    p {
      font-size: 14px;
    }
    button {
      color: $primary;
      background-color: $white;
      border: none;
      outline: none;
      cursor: pointer;
      margin: 0 10px;
      &:focus-within {
        text-decoration: underline;
      }
    }
  }
}
